*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    user-select: none;
}

.JoinPage-Layout {
    background-color: white;
    height: 100%;
}

.JoinPage-Wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.JoinPage-Container {
    padding: 40px 16px;
    max-width: 1080px;

    flex: 1 1 0%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
}

.JoinPage-RightImage {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-image: url("../images/햇살장터\ 회원가입\ 이미지.png");
    background-size: cover;
    background-position: center center;
}

.JoinPage-ContentWrapper {
    flex: 1 1 0px;
}

.JoinPage-HeaderWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    max-width: 414px;
}

.JoinPage-SocialWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.JoinPage-SocialImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.JoinPage-SocialImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.JoinPage-Header {
    text-align: center;
    margin-bottom: 25px;
}

.JoinPage-HeaderPage {
    line-height: 36px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(13, 13, 13);
}

.JoinPage-HeaderPage span {
    font-size: 30px;
    font-weight: 700;
}

.JoinPage-BodyWrapper {
    display: flex;
    flex-direction: column;
    max-width: 414px;
}

.JoinPage-BodyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.JoinPage-InputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.JoinPage-InputLabel {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 12px;
    padding: 0px 5px;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
}

/*.emailCheckBtn {*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    right: -85px;*/
/*    border: 1px solid rgb(203, 203, 203);*/
/*    outline: none;*/
/*    font-size: 12px;*/
/*    font-weight: 700;*/
/*    height: 45.63px;*/
/*    color: #fff;*/
/*    background-color: rgb(255, 87, 87);*/
/*    border-radius: 4px;*/
/*    line-height: 1.45;*/
/*    letter-spacing: -0.04rem;*/
/*    padding: 15px 15px 10px 10px;*/
/*}*/

/*.emailCheckBtn:hover {*/
/*    background-color: rgba(255, 87, 87, 0.5);*/
/*    color: #fff;*/
/*}*/

.JoinPage-InputLabel span {
    color: rgb(255, 87, 87);
    vertical-align: -1px;
}

.JoinPage-Input {
    width: 100%;
    border: 1px solid rgb(203, 203, 203);
    font-size: 13px;
    outline: none;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    padding: 15px 15px 10px 10px;
    border-radius: 4px;
}

.JoinPage-PassNotice {
    font-size: 12px;
    color: rgb(183, 183, 183);
    padding-left: 4px;
}

.JoinPage-Timer {
    position: absolute;
    display: flex;
    top: 12px;
    right: 15px;
    font-size: 15px;
    color: rgb(255, 87, 87);
}

.JoinPage-FooterWrapper {
    display: flex;
    margin-top: 20px;
}

.JoinPage-JoinButton {
    width: 414px;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(255, 87, 87);
    border-radius: 7px;
    cursor: pointer;
    transition: transform .15s cubic-bezier(.68, -.55, .265, 1.55);
}

.JoinPage-JoinButton:hover {
    background-color: rgba(255, 87, 87, 0.5);
    color: #fff;

}

.JoinPage-PassVisible {
    position: absolute;
    display: flex;
    top: 10px;
    right: 15px;
    fill: rgb(183, 183, 183);
    cursor: pointer;
}

.JoinPage-EmailCheck {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    background-color: rgb(13, 13, 13);
    border-radius: 6px;
    pointer-events: none;
}

.JoinPage-EmailCheck:hover {
    opacity: 0.4;
}

#email-message {
    color: rgb(255, 87, 87);
    font-size: 12px;
    padding-left: 4px;
}

#email-message.on {
    color: rgb(99, 156, 99);
}

/* 토글용 css */
.off {
    display: none;
}
