<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.haetssal_jangteo.mapper.FileItemMapper">
    <insert id="insert">
        insert into tbl_file_item (id, item_id, file_item_type)
        values (#{id}, #{itemId}, #{fileItemType})
    </insert>

    <delete id="delete">
        delete from tbl_file_item
        where id = #{id};
    </delete>
</mapper>